<h3>Create an account</h3>
<form class="ui form" [formGroup]="authForm">
  <div class="field">
    <label>Username</label><input formControlName="username" />
  </div>
  <div class="field">
    <label>Password</label><input formControlName="password" />
  </div>
  <div class="field">
    <label>Confirm the password</label
    ><input formControlName="passwordConfirmation" />
  </div>
  <button class="ui submit button primary" type="submit">Submit</button>
</form>
<hr />
<div>Form is valid: {{ authForm.valid }}</div>
<div>Form values: {{ authForm.value | json }}</div>
<div>Errors: {{ authForm.errors | json }}</div>
