<h3>Create an account</h3>
<form class="ui form" [formGroup]="authForm">
  <app-input label="Username" [control]="authForm.get('username')"></app-input>
  <app-input label="Password" [control]="authForm.get('password')"></app-input>
  <app-input
    label="Confirm the password"
    [control]="authForm.get('passwordConfirmation')"
  ></app-input>
  <button class="ui submit button primary" type="submit">Submit</button>
</form>
<hr />
<div>Form is valid: {{ authForm.valid }}</div>
<div>Form values: {{ authForm.value | json }}</div>
<div>Form errors: {{ authForm.errors | json }}</div>
