<h3>Sign in</h3>
<form (ngSubmit)="onSubmit()" [formGroup]="authForm" class="ui form">
  <app-input
    inputType="text"
    label="Username"
    [control]="authForm.get('username')"
  ></app-input>
  <app-input
    inputType="password"
    label="Password"
    [control]="authForm.get('password')"
  ></app-input>

  <div *ngIf="authForm.errors" class="ui red basic label">
    <p *ngIf="authForm.errors.noConnection">
      Failed to sign in. Check your internet connection.
    </p>
    <p *ngIf="authForm.errors.credentials">Invalid username or password.</p>
    <p *ngIf="authForm.errors.unknownError">Failed to sign in.</p>
  </div>

  <div>
    <button class="ui submit button primary" type="submit">Sign in</button>
  </div>
</form>
